// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

.landing{
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;

    .landingSubcontainer {
        position: relative;
        display: inline-flex;
        margin: 100px 150px 200px 250px;
        flex-flow: row;

        .landingText {
            flex: 2;
            color: white;
            font-family: "Barlow", sans-serif;
            align-self: center;

            .landingTextChild {
                
                h2 {
                    font-size: 70px;
                    text-shadow: 0px 2px 5px $shadowcolor;
                }

                .landingInfo {
                    padding: 15px 0 0 0;

                    p {
                        font-size: 25px;
                    }
                }
            }

        }

        .byteImages {
            flex: 0.5;
        }
    }
}